.border {
  box-shadow: 0 0 2px #333333 inset;
}
.test_title {
  color: white;
  text-shadow: 0 0 5px #000000;
  text-align: center;
}
/**自定义字体**/
/**
字体说明
苹果公司出品的字体，该字体分为Text版本和Display版本，
Text版本用于小字号（20pt以下）的显示，而Display版本
则用于较大的字号。
 */
@font-face {
  font-family: SanFranciscoMax;
  src: url("../font/SanFranciscoDisplay-Black-3.otf");
}
@font-face {
  font-family: SanFranciscoMin;
  src: url("../font/SanFranciscoText-Bold-11.otf");
}
/**测试字体**/
@font-face {
  font-family: testfont;
  src: url("../font/HARRYP-1.ttf");
}
html {
  font-family: "SanFranciscoMin", "微软雅黑";
  font-size: 100px;
  color: white;
  text-shadow: 0 0 5px #000000;
  text-align: center;
}
body {
  font-size: 0.14rem;
}
header {
  height: 500px;
}
header nav {
  height: 80px;
  box-shadow: 0 0 2px #333333 inset;
}
header nav section {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
header nav section article {
  height: 100%;
  box-sizing: border-box;
}
header nav section .index-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav section .index-nav ul {
  display: flex;
  height: 100%;
}
header nav section .index-nav ul li {
  list-style-type: none;
  margin: 0.05rem;
  width: auto;
  padding: 0 5px;
}
header nav section .index-nav ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: .8rem;
  transition: all .5s;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  text-shadow: none;
  padding: 0 5px;
}
header nav section .index-nav ul li a:hover {
  border-bottom: 2px solid #04b4dc;
}
header nav section .index-nav {
  flex-grow: 5;
}
header nav section .line {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav section .line hr {
  background-color: #04b4dc;
  height: 2px;
  width: 100%;
  box-shadow: 0 0 2px #04b4dc;
}
header nav section .logo {
  width: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  flex-basis: border-box;
}
header nav section .logo div {
  display: flex;
}
header nav section .logo div img {
  height: .4rem;
  width: 0.8rem;
}
header nav section .logo div h2 {
  font-size: 24px;
  line-height: .4rem;
  white-space: nowrap;
}
header nav section .menu-btn {
  visibility: hidden;
  flex-grow: .5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav section .menu-btn a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: .4rem;
  height: .25rem;
  border: 2px solid #04b4dc;
  border-radius: 8px;
  padding: .02rem .02rem;
  transition: padding 1s;
}
header nav section .menu-btn a span {
  display: block;
  border-bottom: 2px solid #04b4dc;
  opacity: .5;
  transition: padding 1s;
}
header nav section .menu-btn a:hover span {
  opacity: 1;
}
header .banner-header {
  height: 420px;
  box-sizing: border-box;
  position: relative;
}
header .banner-header * {
  box-sizing: border-box;
}
header .banner-header .container {
  height: 100%;
  position: relative;
}
header .banner-header .container article {
  position: absolute;
  font-size: 100px;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  transition: 1s all;
}
header .banner-header .container article img {
  width: 100%;
}
header .banner-header .container article:hover {
  opacity: 1;
}
header .banner-header .action {
  position: absolute;
  bottom: 5%;
  width: 100%;
}
header .banner-header .action span {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: 0.25rem;
  transition: background-color 1s;
  border: 1px solid white;
}
header .banner-header .action span:first-child {
  margin-left: 0;
}
header .banner-header .action span:hover {
  background: white;
  cursor: pointer;
}
/*设置所有板块的基本样式*/
.container {
  height: 400px;
  padding: 50px;
}
.container .banner {
  width: 65%;
  height: 400px;
  box-shadow: 0 0 2px #333333 inset;
  margin: 20px auto;
}
/**模块的标题**/
.content_head {
  background: url("../imgs/title.png") no-repeat;
  width: 378px;
  margin: 0 auto;
  padding-top: 67px;
}
.content_head .max_title {
  font-size: 24px;
}
.content_head .sec_title {
  text-align: center;
  margin-top: 10px;
}
/**more按钮**/
.more_btn {
  color: white;
  text-decoration: none;
  background: #04b4dc;
  border-radius: 14px;
  padding: 2px 0;
  margin: 15px auto;
  display: block;
  width: 5em;
  text-align: center;
  outline: none;
}
/**热门景点**/
.hot {
  height: auto;
  padding-bottom: 400px;
  /*轮播*/
  /*按钮控制器*/
  /**图文介绍**/
}
.hot > .banner {
  height: auto;
  position: relative;
  box-shadow: none;
}
.hot section.img-container {
  height: 300px;
  width: auto;
  margin: 0 auto;
  position: relative;
  box-sizing: content-box;
}
.hot .banner-struck {
  height: auto;
  position: relative;
  margin: 0 auto;
}
.hot #wlittleyang-banner {
  width: 600px;
}
.hot #wlittleyang-banner section.img-container {
  border: none;
}
.hot #wlittleyang-banner section.img-container article {
  width: 200px;
}
.hot #wlittleyang-banner section.img-container article:first-child {
  left: 25px;
}
.hot .action {
  position: absolute;
  width: 600px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  opacity: .2;
  bottom: 0;
  transition: opacity .5s;
}
.hot .action:hover {
  opacity: 1;
}
.hot .action-right,
.hot .action-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  width: 50%;
  text-align: left;
  background: none;
}
.hot .action-right {
  text-align: right;
}
.hot .banner_mesage h2 {
  font-size: 30px;
  font-weight: normal;
  color: #04b4dc;
}
.hot .text_photo {
  width: 100%;
}
/**团队介绍**/
.team {
  height: auto;
}
.team .banner {
  height: 300px;
}
.team .banner #wlittleyang-banner-five {
  width: 540px;
  height: 300px;
  background: #cccccc;
  margin: 150px auto;
  position: relative;
}
.team .banner #wlittleyang-banner-five .container {
  width: 540px;
  height: 100%;
  margin: 0 auto;
  border: 1px solid seagreen;
  position: relative;
  overflow: hidden;
}
.team .banner #wlittleyang-banner-five .item {
  background: #eeeeee;
  border: 5px solid white;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: absolute;
  text-align: center;
  line-height: 200px;
  font-size: 50px;
}
.team .banner #wlittleyang-banner-five .action {
  position: absolute;
  width: 540px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  opacity: .2;
  bottom: 0;
  transition: opacity .5s;
  z-index: 4;
}
.team .banner #wlittleyang-banner-five .action:hover {
  opacity: 1;
}
.team .banner #wlittleyang-banner-five .action-right,
.team .banner #wlittleyang-banner-five .action-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
  width: 50%;
  text-align: left;
  background: none;
}
.team .banner #wlittleyang-banner-five .action-right {
  text-align: right;
}
/**交通租赁**/
.traffic {
  height: auto;
  padding: 50px 0;
}
.traffic .traffic_message section {
  display: flex;
  width: 35%;
  margin: 0 auto;
  justify-content: space-between;
}
.traffic .traffic_message .light_text {
  font-weight: bold;
}
.traffic .traffic_message .car_bg {
  width: 100%;
}
.traffic .traffic_message .car_bg img {
  width: 100%;
  height: 100%;
}
/**新闻中心**/
.news {
  height: auto;
}
.news li {
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.1), 0 0 7px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.01);
  border-radius: 4px;
  padding: 30px;
  margin: 30px auto;
  transition: all 1s;
  display: flex;
  width: 70%;
  text-align: left;
}
.news li .news_title {
  position: absolute;
  left: 20%;
  top: 20%;
  border-radius: 4px;
  background: dodgerblue;
  width: 200px;
  display: flex;
  overflow: hidden;
}
.news li .news_title .news_in_title {
  display: block;
  padding: 0 5px;
  background: #04b4dc;
  width: 35%;
  text-align: center;
}
.news li .news_title .news_in_title + span {
  display: block;
  width: 65%;
  text-align: center;
}
.news li img {
  display: block;
  border-radius: 4px;
  width: 200px;
  height: 120px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.news li .news_content {
  flex-grow: 3;
  margin: 40px 5% 0 5%;
  width: 200px;
  height: 80px;
  text-overflow: ellipsis;
}
.news li .news_content .news_content_message {
  padding: 0;
  height: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-indent: 2em;
}
.news li .news_crud {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news li:hover {
  box-shadow: 0 0 5px 2px #04b4dc, 0 0 6px rgba(0, 0, 0, 0.1), 0 0 7px rgba(0, 0, 0, 0.05), 0 0 8px rgba(0, 0, 0, 0.01);
}
footer {
  height: 300px;
  /**平时的联系方式**/
}
footer section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
footer .conn {
  padding: .5rem 0;
}
footer .sos-conn {
  display: flex;
  flex-direction: column;
}
footer .sos-conn div {
  display: flex;
}
footer .sos-conn div img {
  overflow: hidden;
  border-radius: 50%;
  width: .4rem;
  height: .4rem;
  border: 1px solid #cccccc;
  margin: 5px;
}
footer .sos-conn div aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .sos-conn div aside strong,
footer .sos-conn div aside span {
  width: 100%;
  text-align: left;
  margin: 5px;
}
footer .web-conn {
  display: flex;
}
footer .web-conn div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .web-conn div fieldset a {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: .3rem;
  height: .3rem;
  overflow: hidden;
}
footer .web-conn div fieldset a:nth-child(3) {
  margin: 0 .05rem;
}
footer .web-conn div.ewm {
  display: flex;
  flex-direction: row;
}
footer .web-conn div.ewm img {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  margin: 0.15rem;
  box-shadow: 0 0 5px #333333;
}
footer .web-conn div.ewm img:last-child {
  margin-right: .5rem;
}
footer .web-conn div.ewm img:first-child {
  margin-left: .5rem;
}
footer .web-conn div:last-child {
  justify-content: space-around;
}
footer .web-conn div:last-child fieldset {
  border-radius: 4px;
  width: 2rem;
  padding: .05rem;
}
footer .web-conn div:last-child fieldset legend {
  padding: .02rem;
}
footer .web-conn div:last-child fieldset span {
  font-size: 24px;
}
footer .copyright {
  background-color: rgba(0, 0, 0, 0.9);
  padding: .25rem;
}
@media screen and (max-width: 768px) {
  header article.line {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  header nav {
    position: relative;
  }
  header nav section .line {
    flex-grow: 0;
  }
  header nav section .menu-btn {
    visibility: visible;
  }
  header nav section .index-nav ul {
    overflow: visible;
    width: 100%;
    height: auto;
    position: absolute;
    flex-direction: column;
    z-index: 999;
    top: 80px;
    left: 0;
  }
  header nav section .index-nav ul li {
    background: dodgerblue;
    border-radius: 8px;
    margin: 1px;
    box-shadow: 2px 2px 4px #333333;
  }
  header nav section .index-nav ul li a {
    color: white;
    font-size: 24px;
  }
  header nav section .index-nav ul li:hover {
    background-color: rgba(4, 180, 220, 0.7);
  }
  .container {
    padding: 15px 1px;
  }
  .container .banner {
    width: 99%;
  }
  .hot #wlittleyang-banner {
    width: 405px;
  }
  .hot #wlittleyang-banner section.img-container {
    width: 405px;
    border: none;
  }
  .hot #wlittleyang-banner section.img-container article {
    width: 135px;
  }
  .hot #wlittleyang-banner section.img-container article:first-child {
    left: 25px;
  }
  .hot .action {
    width: 405px;
  }
  .team .banner #wlittleyang-banner-five {
    width: 300px;
  }
  .team .banner #wlittleyang-banner-five .container {
    width: 300px;
    height: 200px;
  }
  .team .banner #wlittleyang-banner-five .action {
    width: 300px;
  }
  .news li {
    width: 90%;
    padding: 2%;
  }
  .news li .news_content .news_content_message {
    text-indent: 0;
  }
  footer .conn {
    padding: 0 0 .15rem 0;
  }
  footer section,
  footer .web-conn,
  footer .sos-conn {
    flex-direction: column;
  }
  footer .sos-conn div {
    display: inline-block;
  }
  footer .sos-conn div img {
    margin: 0 auto;
  }
  footer .sos-conn div aside span,
  footer .sos-conn div aside strong {
    text-align: center;
  }
  footer .web-conn div:last-child fieldset {
    width: 75%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=index.css.map */